<aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link">
        <img
            src="assets/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
        />
        <span class="brand-text font-weight-light">ManuSERV</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img
                    src="assets/img/user2-160x160.jpg"
                    class="img-circle elevation-2"
                    alt="User Image"
                />
            </div>
            <div class="info">
                <a
                    [routerLink]="['/home']"
                    class="d-block"
                    [innerText]="nome"
                ></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul
                class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false"
            >
                <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li *ngIf="roleAdmin()" class="nav-item">
                    <a [routerLink]="['/empresa']" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>Empresas</p>
                    </a>
                </li>
                <li *ngIf="roleUser()" class="nav-item">
                    <a [routerLink]="['/carro']" class="nav-link">
                        <i class="nav-icon fas fa-car"></i>
                        <p>Carros</p>
                    </a>
                </li>
                <li *ngIf="roleAdmin()" class="nav-item">
                    <a [routerLink]="['/tiposervico']" class="nav-link">
                        <i class="nav-icon fas fa-tools"></i>
                        <p>Tipos de Serviços</p>
                    </a>
                </li>
                <li *ngIf="roleAdmin()" class="nav-item">
                    <a [routerLink]="['/procedimento']" class="nav-link">
                        <i class="nav-icon fas fa-tools"></i>
                        <p>Procedimentos</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
