<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a [routerLink]="['/']" class="h1"><b>Manu</b>SERV</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Cadastre sua oficina</p>

            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="input-group mb-3">
                    <input formControlName="nome" type="text" class="form-control" placeholder="Nome da Oficina" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-id-card"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input formControlName="cnpj" type="number" class="form-control" placeholder="CNPJ" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-building"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input formControlName="usuario" type="text" class="form-control" placeholder="Usuario" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input formControlName="email" type="email" class="form-control" placeholder="Email" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input formControlName="password" type="password" class="form-control" placeholder="Senha" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input formControlName="retypePassword" type="password" class="form-control" placeholder="Repetir Senha" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree" />
                            <label for="agreeTerms">
                                Eu concordo com os  <a href="#">termos</a> de compromisso.
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">
                            Register
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a [routerLink]="['/login']" class="text-center">Já estou cadastrado</a
            >
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.card -->
</div>