<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Procedimento Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Procedimento Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Adicionar Procedimento</h3>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <form [formGroup]="criarProcedimentoForm" (ngSubmit)="save()">
                        <div class="row">                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputName">Ordem</label>
                                    <input type="number" formControlName="ordem" id="ordem" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputClientCompany">Nome</label>
                                    <input type="text" formControlName="nome" id="nome" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <app-button [type]="'submit'" [block]="true" [text]="'Entrar'" [loading]="isAuthLoading"></app-button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">Footer</div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
