<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a [routerLink]="['/']" class="h1"><b>Manu</b>SERV</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">
                Esqueceu sua senha? Você pode recuperar a senha da sua conta aqui.
            </p>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                <div class="input-group mb-3">
                    <input formControlName="email" type="email" class="form-control" placeholder="Email" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input formControlName="cnpj" type="number" class="form-control" placeholder="CNPJ" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-id-card"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input formControlName="novaSenha" type="text" class="form-control" placeholder="Nova Senha" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-8">
                      <div class="icheck-primary">
                          <input type="checkbox" id="agreeTerms" name="terms" value="agree" />
                          <label for="agreeTerms">
                              Eu concordo com os  <a href="#">termos</a> de compromisso.
                          </label>
                      </div>
                  </div> -->
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">
                          Recuperar
                      </button>
                    </div>
                    <!-- /.col -->
                </div>
                <p class="mt-3 mb-1">
                    <a [routerLink]="['/login']">Voltar para Login</a>
                </p>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>