<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>TipoServico Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">TipoServico Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista de TipoServicos</h3>

                <div class="card-tools">
                    <a [routerLink]="['/tiposervico/criar']" class="btn btn-success">
                        <i class="fas fa-plus"></i> Criar
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th>Nome</th>
                            <th>Descrição</th>
                            <th style="width: 220px">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tiposervico of tiposervicoList">

                            <td><a routerLink="/procedimento/list/{{ tiposervico.id }}">{{ tiposervico.nome }}</a></td>
                            <td>{{ tiposervico.descricao }}</td>
                            <td>
                                <a routerLink="edit/{{ tiposervico.id }}" class="btn btn-info btn-sm">
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                                <a (click)="delete(tiposervico.id)" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i> Apagar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
