<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Triagem Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Carro Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Adicionar Triagem</h3>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <form [formGroup]="criarTriagemForm" (ngSubmit)="save()">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="id_tiposervico">Serviço</label>
                                    <select class="form-control" formControlName="id_tiposervico" name="id_tiposervico" id="id_tiposervico">
                                        <option *ngFor="let tiposerv of tiposervicoList" [value]="tiposerv.id">
                                            {{tiposerv.nome}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="preco">Preço</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                R$
                                            </span>
                                        </div>
                                        <input formControlName="preco" name="preco" id="preco" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <app-button [type]="'submit'" [block]="true" [text]="'Salvar'" [loading]="isAuthLoading">
                            </app-button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">Footer</div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->