<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Usuario Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Usuario Page</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lista de Usuarios</h3>

                <div class="card-tools">
                    <a
                        [routerLink]="['/usuario/criar']"
                        class="btn btn-success"
                    >
                        <i class="fas fa-plus"></i> Criar
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th style="width: 220px">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarioList">
                            <td>{{ usuario.nome }}</td>
                            <td>
                                <a
                                    routerLink="edit/{{ usuario.id }}"
                                    class="btn btn-info btn-sm"
                                >
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                                <a
                                    (click)="delete(usuario.id)"
                                    class="btn btn-danger btn-sm"
                                >
                                    <i class="fas fa-trash-alt"></i> Apagar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
